@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

main {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 2px;
  height: 100%;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
  min-width: 280px;
  max-width: 420px;
  width: 96%;
  margin: 10px auto;
}

.form-block {
  padding: 0px 20px 20px 20px;
}

.header-block {
  background-color: #333;
  border-radius: 2px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-block p.title {
  font-family: Kaushan Script;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}

.attributes-header-block {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  position: relative;
}

.attributes-block {
  display: flex;
  align-items: center;
}

.attributes-block .select-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 10px 0px 5px;
}

.select-box {
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-size: 1.5rem;
}

.select-box label {
  display: flex;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  justify-content: flex-start;
  align-self: flex-start;
}

.attributes-header-block .button {
  margin-left: 10px;
  width: 100%;
  height: 30px;
}

div span.attribute-title {
  letter-spacing: 0.2em;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-left: 5px;
}

.attributes-container {
  background-color: #fff;
  border: 0.1rem dashed #333;
  padding: 5px;
  border-radius: 2px;
  margin: 5px 0px;
}

.relationship-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 10px 5px;
}

.relationship-block .relationship-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.attributes-block {
  justify-content: space-between;
}

.relationship-block span {
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.relationship-value {
  background-color: #eee;
  border-radius: 2px;
  padding: 10px 5px;
  margin-right: 10px;

  width: 100%;
}

.btn-trash.relate {
  font-size: 20px;
}

.relationship-value span {
  letter-spacing: 0.05em;
  font-weight: 100;
}

.relationship-value span b {
  text-transform: uppercase;
}

.btn-style {
  text-align: center;
  margin: 20px 0px 0px 10px;
  padding: 18px 40px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgb(66, 65, 65);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms linear 0s;
}

.btn-style:focus {
  background-color: rgba(29, 27, 27, 0.6);
}

.btn-add {
  margin: 10px 0px 0px 10px;
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 0px;
}

.btn-style:hover {
  background-color: rgba(29, 27, 27, 1);
}

.btn-style:active {
  background-color: rgb(83, 80, 85);
}

.btn-trash {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  padding: 5px 7px;
  color: #333;
  background-color: #aaa;
  border-radius: 2px;
  transition: all 0.3s;
  margin: 0px auto;
}

.btn-trash:hover {
  background-color: rgba(136, 136, 136, 0.4);
}

.btn-trash:active {
  background-color: rgba(136, 136, 136, 1);
}

.btn-trash:focus {
  background-color: #888;
}

.submit-block {
  display: flex;
  justify-content: center;
}

.btn-trash.attributes {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.select-relationship {
  display: flex;
  flex-direction: column;
}

.select-relationship {
  font-size: 1.4rem;
  width: 100%;
}

.select-relationship label {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: left;
  margin: 10px 0px;
}

.attributes-header-block .btn-relate {
  margin-top: 35px;
}

.attributes-container .value {
  display: flex;
  font-weight: bold;
  color: #333;
  margin: 10px 0px 0px 5px;
  font-size: 1.4rem;
}

.relationship-box {
  margin: 0px;
}

.select-relationship label {
  font-size: 1.6rem;
  margin-bottom: 0px;
}
