div.main-input-container {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
  margin: 10px 0px;
}

div.input-block input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #444;
  padding-top: 30px;
  border: none;
  outline: none;
}

div.input-block label {
  position: absolute;
  color: #222;
  font-size: 14px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #666;
}

div.input-block label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #444;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

div.main-input-container input:focus + .label-name .content-name,
div.main-input-container input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

div.main-input-container input:focus + .label-name::after,
div.main-input-container input:valid + .label-name::after {
  transform: translate(0%);
}

.content-error {
  color: #ff3366;
  font-size: 12px;
}
