main {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  width: 70%;
  padding: 20px 20px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
  border-top: 20px solid #333;
}

section {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.card {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.devices {
  width: 180px;
  margin: 5px;
  background-color: rgb(144, 238, 68);
  border-top: 10px solid #333;
  border-radius: 2px;
  padding: 5px;
}

.farm {
  width: 180px;
  margin: 5px;
  background-color: #009ffd;
  border-top: 10px solid #333;
  border-radius: 2px;
  padding: 5px;
}

.farmer {
  width: 180px;
  margin: 5px;
  background-color: #ff8e72;
  border-top: 10px solid #333;
  border-radius: 2px;
  padding: 5px;
}

.notmoving {
  width: 180px;
  margin: 5px;
  color: #333;
  background-color: #eee;
  border-top: 10px solid #333;
  border-radius: 2px;
  padding: 5px;
}

.management_zone .item {
  width: 250px;
  margin: 5px;
  background-color: #21bf73;
  border-top: 10px solid #333;
  border-radius: 2px;
  padding: 5px;
}

/* 
.relationship-container div {
  text-align: center;
  border-radius: 2px;
  padding: 5px;
  margin: 5px auto;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s;
  transition: width 0.3s;
}

.devices {
  width: 140px;
  height: 55px;
  background-color: rgb(144, 238, 68);
  border-top: 10px solid #333;
}

.farm {
  width: 140px;
  height: 55px;
  background-color: #009ffd;
}

.farmer {
  width: 140px;
  height: 55px;
  background-color: #ff8e72;
}

div.management_zone {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  border: 4px dashed transparent;
  transition: all 0.3s linear;
}

.management_zone.drop-active {
  border-color: #333;
}

.management_zone.drop-target {
  background-color: #21bf73;
  border: 4px solid #21bf73;
  border-radius: 2px;
}

.devices.can-drop {
  background-color: #4e4;
  border: 2px solid #fff;
  width: 120px;
}

.farmer.can-drop {
  background-color: #ffa672;
  border: 2px solid #fff;
  width: 120px;
}

.farm.can-drop {
  background-color: #00c3ffe3;
  border: 2px solid #fff;
  width: 120px;
} */
