header {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}

header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 900px;
  margin: auto;
}

header img {
  margin: 0px 20px 0px 0px;
  width: 150px;
  padding: 15px 0px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li .current {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #333;
  border-radius: 0;
}

header nav li a {
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.3rem;
  padding: 24px 20px;
  border-radius: 2px;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
