.search-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  padding: 10px 10px;
  max-width: 500px;
  width: 90%;
  margin: 20px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.explanation-block {
  margin: 10px;
  color: #333;
  font-size: 1.6rem;
  line-height: 2.3rem;
}

.search-block {
  display: flex;
  flex-direction: row;
  background-color: #ddd;
  border-radius: 2px;
  width: 90%;
  margin: 10px;
}

.search-block:hover {
  background-color: #ccc;
}

.search-block:hover .btn-search {
  background-color: #ccc;
}

.search-container .input-block input {
  color: #222;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.search-container .input-block {
  padding: 10px;
  width: 100%;
}

.btn-search {
  background-color: #ddd;
  color: #333;
  font-size: 20px;
  border: none;
  margin: 3px 0px 0px 5px;
  cursor: pointer;
}

.list-container {
  margin: 0px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.list-container span {
  font-weight: bold;
}

.entity-block {
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  min-width: 250px;
  max-width: 300px;
  width: 100%;
  margin: 10px;
  padding: 15px;
  letter-spacing: 0.05em;
  border: 2px solid transparent;
  transition: all 0.5s;
}

.entity-block:active {
  background-color: #fff;
}

.option-search-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.option-search-block div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-search-block button {
  width: 90%;
  max-width: 430px;
  padding: 15px 40px;
  border: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s;
}

.option-search-block .btn-id {
  flex: 1;
  background-color: #333;
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.btn-id:hover {
  background-color: #888;
}

.btn-id:active {
  background-color: #111;
}

.btn-id:focus {
  opacity: 0.9;
}

.option-search-block .btn-type {
  flex: 1;
  background-color: #333;
  color: #fff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.btn-type:hover {
  background-color: #888;
}

.btn-type:active {
  background-color: #222;
}

.btn-type:focus {
  opacity: 0.9;
}

.explanation-block p {
  text-align: justify;
}

.btn-id.on {
  background-color: #111;
}

.btn-id.on:hover {
  opacity: 0.5;
}

.btn-type.on {
  background-color: #111;
}

.btn-type.on:hover {
  opacity: 0.5;
}

.option-search-block .btn-all {
  margin-top: 10px;
  border-radius: 2px;
  flex: 1;
  background-color: #15b097;
  color: #fff;
}

.btn-all:hover {
  background-color: #15b096af;
}

.btn-all:active {
  background-color: #12574b;
}

.btn-all:focus {
  opacity: 0.9;
}

.list-container .relationship-block {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  padding: 0px;
}

.list-container p + p {
  margin: 10px 0px 0px 0px;
}

.action-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

.action-block button {
  background-color: transparent;
  padding: 0px;
  margin: 0px 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.action-block span {
  margin-left: 5px;
}

.action-block .update {
  background-color: #33ff;
}

.action-block .update:hover {
  background-color: rgb(28, 28, 156);
}

.action-block .update:focus {
  background-color: rgb(15, 15, 85);
}

.action-block .delete {
  background-color: #ff3333;
}

.action-block .delete:hover {
  background-color: #8f1b1b;
}

.action-block .delete:focus {
  background-color: #5f1313;
}

.show-total-count {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.show-total-count p {
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.show-relationship {
  width: 100%;
  margin: 5px 0px;
  color: #333;
  padding: 5px 0px;
  border: 2px solid #333;
  border-radius: 2px;
  padding: 5px;
  background-color: #ccc;
}

.relationship-count {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 10px 0px;
}
