div.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html body {
  overflow: initial;
}

body {
  background-image: url("./img/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 770px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 720px) {
  nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #333;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #fff;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 2.5rem;
    line-height: 4rem;
    display: block;
  }

  body {
    background-image: url("img/mobile-background.jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

@media only screen and (max-height: 400px) {
  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 2.5rem;
    line-height: 2rem;
    display: block;
  }
}
