div.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (max-width: 650px) {
  body {
    background-image: url("./img/mobile-background.jpg.jpg");
  }
}
